[project]
	description = for test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Colin (freewardor)
[access "refs/for/refs/*"]
	read = group user/Colin (freewardor)
	push = group user/Colin (freewardor)
	label-Code-Review = -2..+2 group user/Colin (freewardor)
	label-Verified = -1..+1 group user/Colin (freewardor)
	rebase = group user/Colin (freewardor)
	removeReviewer = group user/Colin (freewardor)
	submit = group user/Colin (freewardor)
[access "refs/heads/*"]
	read = group user/Colin (freewardor)
	create = group user/Colin (freewardor)
	push = +force group user/Colin (freewardor)
	pushMerge = group user/Colin (freewardor)
[access "refs/tags/*"]
	push = +force group user/Colin (freewardor)
	pushTag = group user/Colin (freewardor)
	pushSignedTag = group user/Colin (freewardor)
